<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Sporty Shoes</title>
</head>
<body>
	
	<div align="right" style="margin-right: 20px">
		<a href="adminCP" style="font-size: 20px">Change Password</a> <br><br> <a href="/" style="font-size: 20px">Logout</a>
	</div>
	
	<div align="center">
		 <h1>Welcome to Sporty Shoes</h1>
		 <h1>WELCOME TO DASHBOARD</h1>
		 
		<div style="display: flex;" align="center">
			<div style="margin-left: 180px">
			<h2>Product Management</h2>
			
				<a style="font-size: 20px" href="productList">Product List</a>  <br><br>  <a style="font-size: 20px" href="addProduct">Add Product</a> <br><br>
				<a style="font-size: 20px" href="updateProduct">Modify Product</a>  <br><br>  <a style="font-size: 20px" href="deleteProduct">Delete Product</a>
			</div>	
			
			<div style="margin-left: 180px">
			<h2>User Management</h2>
			
			<a style="font-size: 20px" href="listUser">See User List</a> <br><br> <a style="font-size: 20px" href="searchUser">Search User</a>
			
			</div>
		
			<div style="margin-left: 180px" >
			<h2>Purchase Report Management</h2>
			
				<a style="font-size: 20px" href="purchaseOrder">See Purchase Orders</a>
			</div>
	
		</div>	
	</div>
</body>
</html>