<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Sporty Shoes</title>
</head>
<body>
	<div align='center'>
	<h1>Welcome to Sporty Shoes</h1>
		<h1>Admin Login Page</h1>
			<form action="adminLogin" method="post">
				Admin Email:
				<input type="email" name="adminemail" required><br><br>
				Admin Password:
				<input type="password" name="adminpassword" required>
				<br><br>
				<input type="submit" value="Login" />
				
			</form>
	  </div>
</body>
</html>